.main_container{
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: bisque;
}

.navlogo{
    width: 110px;
    animation: flash infinite;
    animation-duration: 1.2s;
    mix-blend-mode: darken;
    
}
.navbar_h3{
    font-family: 'Times New Roman', Times, serif;
}
